<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Anime:findeR &copy;n3z</title>
</head>

<body>
    <header>
        <a href="/">
            <img src="/img/logo.png" alt="Logo of Anime Finder">
        </a>
        <nav>
            <form action="/search" method="post">
                <input id="page" type="hidden" name="page" value="1">
                <input id="search" type="search" placeholder="Anime title" name="search" autocomplete="off">
                <input id="search-btn" type="submit" name="search-btn" value="Search">
            </form>
        </nav>
    </header>